.hanoi-block {
    background: #FACA04;
    outline: solid 1px black;
    height: 15px;
    margin: 1px auto 1px auto;
    bottom: 0px;
  }
  
  .hanoi-view {
      display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: stretch;
    /*background: rgba(171, 253, 17, .7);
    outline: solid 5px rgba(171, 253, 17, .75);*/
  }
  
  /*.hanoi-tower {
    margin-right: 5px;
    margin-left: 5px;
  }*/
  
  .control-section {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .working-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    /*background: rgb(238, 238, 238);
    outline: solid 4px rgb(210, 210, 210);*/
    margin-top: 3%;
    padding: 2%;
  }